.orange-background {
    background-color: orange;
}

.orange {
    color: orange;
}

.white-background {
    background-color: white;
}

.white-border {
    border-color: white;
}

.white {
    color: white;
}

.primary-background {
    background-color: #5E0E35;
}

.primary {
    color: #5E0E35;
}

.secondary-background {
    background-color: #1B1C76;
}

.secondary {
    color: #1B1C76;
}
