.orange-background {
    background-color: orange;
}

.orange {
    color: orange;
}

.white-background {
    background-color: white;
}

.white-border {
    border-color: white;
}

.white {
    color: white;
}

.navy-background {
    background-color: #354F78;
}

.navy {
    color: #354F78;
}

.maroon-background {
    background-color: #793129;
}

.maroon {
    color: #793129;
}