.signup-container {
	width: 50%;
	margin: auto;
	text-align: center;
	position: relative;
	transition: opacity 200ms;
}

.signup-title {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.signup-error {
	color: red;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	display: none;
}

.email-verification-notification {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100px);
	opacity: 0;
	width: 100%;
	text-align: center;
	transition: transform,opacity 200ms;
}
