* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elevated {
    z-index: 1;
    box-shadow: 0px 2px 2px grey;
}

h1 {
    font-family: 'Raleway';
    opacity: 100%;
    font-size: 2rem;
}

h2 {
    font-family: 'Raleway';
    opacity: 100%;
}

.header {
    padding: 0.5rem;
}