body {
    display: grid;
    grid-template-rows: 3rem calc(100vh - 3rem);
    grid-template-columns: 4vw 16vw 60vw 20vw;
}

.fade {
    transition: 0.2s;
}

.header {
    grid-row: 1;
    grid-column: 1 / 5;
    border-color: black;
}

.nav {
    grid-row: 2;
    grid-column: 1;
}

.main {
    grid-row: 2;
    grid-column: 3;
    padding: 1rem;
    overflow: scroll;
}

.pear-holder {
    grid-row: 2;
    grid-column: 4;
}

.aside {
    grid-row: 2;
    grid-column: 2;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.aside-background {
    grid-row: 2;
    grid-column: 2;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow: hidden;
    z-index: -1;
}

.aside-background img {
    height: 100%;
    filter: blur(1rem);
    object-fit: fill;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    margin: 0.5vw;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    color: white;
    background-color: black;
    border-style: none;
}

#profile-pic {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
}

.profile .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .aside h2 {
    margin-top: 1rem;
}

main label {
    display: inline-block;
    width: 10rem;
}

main input {
    margin-top: 1rem;
    width: calc(99% - 10rem);
}

.profile-submit {
    width: 100%
}

.profile-submit, button {
    border-style: none;
    background-color: #354F78;
    border-radius: 1rem;
    height: 2rem;
    color: white;
}

.profile-form-fields {
    height: calc(80vh - 2rem);
}

.search-group button {
    width: 10rem;
}

.active-chat {
    display: flex;
    height: 5rem;
    align-items: center;
    color: white;
    padding: 1rem;
}

.active-chat:hover {
    background-color: grey;
    opacity: 50%;
}

.chat-profilePic {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-style: solid;
    border-radius: 5rem;
    border-width: 2px;
}

.chat-name {
    width: 100%;
    text-align: center;
}

.search-result {
    width: 20rem;
    height: 10rem;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.search-result-profilePic {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.search-result-data {
    flex-direction: column;
    height: 8rem;
    width: 100%
}

